
				<td>
					<input type="text" ng-model='a1[0]'/>
					<input type="text" ng-model='a1[1]'/>
					<input type="text" ng-model='a1[2]'/>
					<input type="text" ng-model='a1[3]'/>
					<input type="text" ng-model='a1[4]'/>
					<input type="text" ng-model='a1[5]'/>
					<input type="text" ng-model='a1[6]'/>
					<input type="text" ng-model='a1[7]'/>
					<input type="text" ng-model='a1[8]'/>
					<input type="text" ng-model='a1[9]'/>
					<input type="text" ng-model='a1[10]'/>
					<input type="text" ng-model='a1[11]'/>
					<input type="text" ng-model='a1[12]'/>
					<input type="text" ng-model='a1[13]'/>
					<input type="text" ng-model='a1[14]'/>
					<input type="text" ng-model='a1[15]'/>
					<input type="text" ng-model='a1[16]'/>
					<input type="text" ng-model='a1[17]'/>
					<input type="text" ng-model='a1[18]'/>
					<input type="text" ng-model='a1[19]'/>
					<input type="text" ng-model='a1[20]'/>
					<input type="text" ng-model='a1[21]'/>
					<input type="text" ng-model='a1[22]'/>
					<input type="text" ng-model='a1[23]'/>
					<input type="text" ng-model='a1[24]'/>
					<input type="text" ng-model='a1[25]'/>
					<input type="text" ng-model='a1[26]'/>
					<input type="text" ng-model='a1[27]'/>
					<input type="text" ng-model='a1[28]'/>
					<input type="text" ng-model='a1[29]'/>
				</td>