<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
		
		</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no"/>
		<link rel="stylesheet" href="//apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css">
		<script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/form.js" type="text/javascript" charset="utf-8"></script>
		<style type="text/css">
			.red{
				color: #f00;
			}
			.bg-red{background: #f00;}
			.green{
				color: #0f0;
			}
			.ng-hide{
				
			}
		</style>
	</head>
	<body ng-app='userInfoModule'>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="panel-title">双向数据绑定</div>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-12">
						<form class="form-horizontal" role='form' ng-controller='userInfoCtrl'>
							<div class="form-group">
								<label class="col-md-2 control-label">邮箱：</label>
								<div class="col-md-10">
									<input type="email" class="form-control" placeholder="推荐使用126邮箱" ng-model='userInfo.email'/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-2 control-label">密码：</label>
								<div class="col-md-10">
									<input type="password" class="form-control" placeholder="只能是数字、字母、下划线" ng-model='userInfo.password' />
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-offset-2 col-md-10">
									<div class="checkbox">
										<label>
											<input type="checkbox" ng-model='userInfo.autoLogin'/><span ng-show='au'>自动登录</span>
										</label>
										
									</div>
									
								</div>
								
							</div>
							<div class="form-group">
								<div class="col-md-offset-2 col-md-10">
									<button class="btn btn-default" ng-click="getFormInfo()">获取form表单的值</button>
									<button class="btn btn-default" ng-click="setFormInfo()">设置form表单的值</button>
									<button class="btn btn-success" ng-click="changeColor()">改变字体颜色</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
 
</html>
