<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no"/>
		<script src="//cdn.bootcss.com/vue/1.0.26/vue.js"></script>
	</head>
	<body>
		<div id="app">
			<input type="text" v-model="newTodo" v-on:keyup.enter="addTodo" />
			<ul>
				<li v-for="todo in todos">
					<span>{{todo.text}}</span>
					<button v-on:click="removeTodo($index)">X</button>
				</li>
			</ul>
			<div><a  v-on:click="doSomething">go</a> <button type="button" v-bind:disabled="aa">按钮</button></div>
		</div>
		<script type="text/javascript">
			var vm=new Vue({
				el:'#app',
				data:{
					newTodo:'',
					todos:[{
						text:'add some todos'
					}],
					url:"http://www.baidu.com",
					aa:false
				},
				methods:{
					addTodo:function(){
						var text=this.newTodo.trim();
						if(text){
							this.todos.push({text:text});
							this.newTodo='';
						}
					},
					removeTodo:function(index){
						this.todos.splice(index,1);
					},
					doSomething:function(){
						alert("do something!");
					}
				},
				created:function(){
					console.log('created');
				},
				compiled:function(){
					console.log('compiled');				
				},
				ready:function(){
					console.log('ready');				
				},
				destroyed:function(){
					console.log('destroyed');				
				}
			});
		</script>
	</body>
</html>
