@charset "UTF-8";
body,
p,
ul,
li,
h1,
h2,
h3,
h4,
h5,
dl,
dt,
dd {
  padding: 0;
  margin: 0;
}
img {
  vertical-align: middle;
  border: 0;
}
a {
  color: #000;
  font-weight: normal;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}
li {
  list-style: none;
}
i {
  font-style: normal;
}

input {
  outline: 0;
}
input[type=text]::-ms-clear,
input[type=text]::-ms-reveal {
  display: none;
}
input[type='submit'] {
  cursor: pointer;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.inline-block {
  display: inline-block;
}
.none {
  display: none;
}
.clear {
  clear: both;
  display: block;
}
.opacity_0 {
  opacity: 0;
  filter: alpha(opacity=0);
}